{% extends "admin/home.html.twig" %}


{% block main %}
	{% for cat in cats.getAll() %}
		<h3>{{ cat.name }}</h3>
	{% endfor %}
	<h2>{{ product.name }}</h2>
	<p>{{ product.description }}</p>
	<h3>{{ product.price }}</h3>
	<h3>{{ product.stock }}</h3>
	<h4>{{ product.category.name }}</h4>
{% endblock %}
